<pre>
    <h4>Template Reminder</h4>

    >   UC 1 static=False
    <div #uc1>
        <p>My amazing content !</p>
    </div>

    > UC 2 static=False/True
    <div #uc2 *ngIf="true">
        <p>My amazing content !</p>
    </div>

    > UC 3 read attribute HTML Element 
    <div #uc3>
        <p>My amazing content !</p>
    </div>

    > UC 4 read attribute Component
    <app-simple-content #uc4>
        <p>My amazing content !</p>
    </app-simple-content>

    > UC 5 read attribute Component - ElementRef
    <app-simple-content #uc5>
        <p>My amazing content !</p>
    </app-simple-content>

    > UC 6 read attribute Component - ViewContainerRef
    <app-simple-content #uc6>
        <p>My amazing content !</p>
    </app-simple-content>

    >  UC 7 read attribute Component - ViewRef
    <app-simple-content #uc7>
        <p>My amazing content !</p>
    </app-simple-content>
</pre>